{
  "openapi": "3.0.1",
  "info": {
    "description": "The Yapily API enables connections between your application and users' banks. For more information check out our [documentation](https://docs.yapily.com/).<br><br>In particular, make sure to view our [Getting Started](https://docs.yapily.com/#getting-started) steps if this is your first time here.<br><br>While testing the API, our list of [sandbox credentials](https://docs.yapily.com/guides/applications/institutions/sandbox/) maybe useful.",
    "title": "Yapily API",
    "version": "2.0.0",
    "contact": {
      "name": "Yapily Support",
      "url": "https://docs.yapily.com/support/",
      "email": "support@yapily.com"
    }
  },
  "servers": [
    {
      "url": "https://api.yapily.com"
    }
  ],
  "security": [
    {
      "basicAuth": [
      ]
    }
  ],
  "tags": [
    {
      "description": "The `Application` is the base entity that is used to interact with the API and contains a collection of `Institution` objects. You can have multiple Applications associated with your account e.g. a production application with live access to each `Institution` and a development application with access to sandboxes.",
      "name": "Application"
    },
    {
      "description": "The Users endpoints are used to manage each user (otherwise known as the PSU) in Yapily. Each user belongs to an Application and as a consequence, so do each `Consent` created for a particular `User`.",
      "name": "Users"
    },
    {
      "description": "An `Institution` object represents any Account Serving Payment Servicing Provider (ASPSP) that has been integrated and is accessible through the Yapily APIs (ASPSPs are entities that publish Read/Write APIs to permit, with customer consent, payments initiated by third party providers and/or make their customers� financial data available to third party providers via their API endpoints).<br><br>Any one of the following would be represented as Institution:<ul><li>Traditional banks e.g. Santander</li><li>Neo-banks e.g. Monzo</li><li>Building societies e.g. Cumberland Building Society</li></ul>",
      "name": "Institutions"
    },
    {
      "description": "The Consents endpoints are used to manage each `Consent` created by Yapily in response to an authorisation created for a user.<br><br>The `Consent` object contains data that identifies a user's consent for a specific `Institution` within a Yapily application. Other than the id of the consent, the `institution-id` for the corresponding `Institution` and the user identifiers (`user-uuid` and `application-user-id`), it contains various details that indicates how the `Consent` can be used.",
      "name": "Consents"
    },
    {
      "description": "Before calling [Financial Data](#yapily-api-financial-data) or [Payments](#yapily-api-payments) endpoints, a consent from an end-user must be obtained.<br><br>Consents are valid for up to 90 days for Financial Data endpoints and have a single-use for Payment endpoints i.e. a new consent must be obtained for each payment.<aside class=\"info\">NOTE: A user consent is also referred to as an 'Authorisation'.</aside>",
      "name": "Authorisations"
    },
    {
      "description": "In order to access a user's Financial Data, you are required to request an [Authorisation](#yapily-api-authorisations) from the user to share the account information the bank has. Once a `consent-token` is obtained, you can call the necessary Financial Data endpoint(s) to retrieve the user's data.",
      "name": "Financial Data"
    },
    {
      "description": "In order to make a Payment on behalf of a user, you are required to request an [Authorisation](#yapily-api-authorisations) from the user to authorise the user's account to make the payment from. Once a `consent-token` is obtained, you can call the necessary Payments endpoint(s) to execute a payment.",
      "name": "Payments"
    },
    {
      "description": "The Financial Profile endpoints assist in collating authorised consents for a user which can subsequently be used to classify user income streams across multiple accounts. For each income stream, the financial profile determines the frequency and score that describes how well the income stream fits to that schedule.\n\n",
      "name": "Financial Profile"
    }
  ],
  "paths": {
    "/account-auth-requests": {
      "patch": {
        "description": "Used to prompt the account holder for continued access to their financial data. This endpoint should be used when a `Consent` that was previously `AUTHORIZED` can no longer be used to retrieve data.<br><br>See [Re-Authorisation](https://docs.yapily.com/guides/financial-data/consents/#re-authorisation) for more information.",
        "operationId": "reAuthoriseAccount",
        "parameters": [
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "8719f9c97272463d9c2d1ee6108c8e24"
                      },
                      "data": {
                        "id": "2812b61c-9d0b-4730-8c94-22c18918e66a",
                        "userUuid": "3ddf5dd0-aa48-4d0f-baa7-fa057e9e911d",
                        "applicationUserId": "john.doe@company.com",
                        "institutionId": "modelo-sandbox",
                        "status": "AWAITING_RE_AUTHORIZATION",
                        "createdAt": "2021-06-09T08:22:50.135Z",
                        "featureScope": [
                          "ACCOUNT_STATEMENT_FILE",
                          "ACCOUNT_TRANSACTIONS",
                          "ACCOUNT_STATEMENTS",
                          "ACCOUNTS",
                          "ACCOUNT"
                        ],
                        "state": "0623e536c5044b4aa3f6c66e7537bee0",
                        "authorizedAt": "2021-06-09T08:23:03.944Z",
                        "institutionConsentId": "aac-f7847e99-7c66-4bb8-8641-61a24057f2e8",
                        "authorisationUrl": "https://ob19-auth1-ui.o3bank.co.uk/auth?client_id=e7f6b95b-5f35-419b-b301-8b08bcd946de&response_type=code+id_token&state=0623e536c5044b4aa3f6c66e7537bee0&nonce=0623e536c5044b4aa3f6c66e7537bee0&scope=openid+accounts&redirect_uri=https%3A%2F%2Fauth.yapily.com%2F&request=eyJraWQiOiJnRTRvU3VaZDl4TVpUNXZDdTNWYy1mdktNak0iLCJhbGciOiJQUzI1NiJ9.eyJhdWQiOiJodHRwczovL29iMTktYXV0aDEtdWkubzNiYW5rLmNvLnVrIiwic2NvcGUiOiJvcGVuaWQgYWNjb3VudHMiLCJpc3MiOiJlN2Y2Yjk1Yi01ZjM1LTQxOWItYjMwMS04YjA4YmNkOTQ2ZGUiLCJjbGllbnRfaWQiOiJlN2Y2Yjk1Yi01ZjM1LTQxOWItYjMwMS04YjA4YmNkOTQ2ZGUiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsInJlZGlyZWN0X3VyaSI6Imh0dHBzOi8vYXV0aC55YXBpbHkuY29tLyIsInN0YXRlIjoiMDYyM2U1MzZjNTA0NGI0YWEzZjZjNjZlNzUzN2JlZTAiLCJjbGFpbXMiOnsiaWRfdG9rZW4iOnsiYWNyIjp7InZhbHVlIjoidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwiZXNzZW50aWFsIjp0cnVlfSwib3BlbmJhbmtpbmdfaW50ZW50X2lkIjp7InZhbHVlIjoiYWFjLWY3ODQ3ZTk5LTdjNjYtNGJiOC04NjQxLTYxYTI0MDU3ZjJlOCIsImVzc2VudGlhbCI6dHJ1ZX19LCJ1c2VyaW5mbyI6eyJvcGVuYmFua2luZ19pbnRlbnRfaWQiOnsidmFsdWUiOiJhYWMtZjc4NDdlOTktN2M2Ni00YmI4LTg2NDEtNjFhMjQwNTdmMmU4IiwiZXNzZW50aWFsIjp0cnVlfX19LCJub25jZSI6IjA2MjNlNTM2YzUwNDRiNGFhM2Y2YzY2ZTc1MzdiZWUwIiwianRpIjoiMjEyM2E1OGMtMTExYi00OGY2LTg2ODAtZTViYTNiMzI3MjM5IiwiaWF0IjoxNjIzMjI3MDAxLCJleHAiOjE2MjMyMjg4MDF9.JG5lc5TWjCucWZPfcyd34trk0QcGNzhYXfhHTlVrcfu1zjrAtSUI8i0o4yKqS19cOGKHq1HtuQac2hhO8gCr_vd5n7eIuIrWfjEM1MuIwsJ85jOpMBkEiSOurLRIgW77VmqHpVUVj5-0-1Tk-N-vaC_4nIdtSi576sOb4rjLQvs2EX_sFODGjyMxHXiZlnr2p71gA3nRy8M2Vv_At4-NPW8OLULS8zXclWoK797HFAGtsNLCy8tz0YCsnEaFhcLhZSliy3a7DRfxvBmIzhY23M4uQ6bpM1zCyqTPsOhqR-qdgnZorBrax_2CQ37yIeV4becUJWvZSdnjYX7gDtNltA",
                        "qrCodeUrl": "https://images.yapily.com/image/4ef6e16c-dbe2-4d90-9e1b-868d946082ef/1623227001?size=0"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfAuthorisationRequestResponse"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Re-authorise Account Consent",
        "tags": [
          "Authorisations"
        ]
      },
      "post": {
        "description": "Used to initiate the authorisation process and direct users to the login screen of their financial institution in order to give consent to access account data.<br><br>See [Redirect Account Flows](https://docs.yapily.com/guides/financial-data/account-authorisation-flows/redirect/) for more information about this flow.<br><br>Feature: `INITIATE_ACCOUNT_REQUEST`",
        "operationId": "initiateAccountRequest",
        "parameters": [
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "examples": {
                "CBI Globe Example Request": {
                  "description": "CBI Globe Example Request",
                  "value": {
                    "applicationUserId": "john.doe@company.com",
                    "institutionId": "bpm-sandbox",
                    "callback": "https://display-parameters.com/",
                    "accountRequest": {
                      "accountIdentifiersForBalance": [
                        {
                          "accountId": "account1234567",
                          "accountIdentification": {
                            "type": "IBAN",
                            "identification": "IT77O0848283352871412938123"
                          }
                        }
                      ],
                      "accountIdentifiersForTransaction": [
                        {
                          "accountId": "account1234567",
                          "accountIdentification": {
                            "type": "IBAN",
                            "identification": "IT77O0848283352871412938123"
                          }
                        }
                      ]
                    }
                  }
                },
                "OBIE Example Request": {
                  "description": "OBIE Example Request",
                  "value": {
                    "applicationUserId": "john.doe@company.com",
                    "institutionId": "modelo-sandbox",
                    "callback": "https://display-parameters.com/"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/AccountAuthorisationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "CBI Globe Example Response": {
                    "description": "CBI Globe Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "a55a89c4a27b41129e484d74fc338121"
                      },
                      "data": {
                        "id": "4f988304-67ea-4ea9-a61e-cb90cac37f78",
                        "userUuid": "3ddf5dd0-aa48-4d0f-baa7-fa057e9e911d",
                        "applicationUserId": "john.doe@company.com",
                        "institutionId": "bpm-sandbox",
                        "status": "AWAITING_AUTHORIZATION",
                        "createdAt": "2021-06-09T11:06:54.132Z",
                        "expiresAt": "2021-09-07T00:00:00Z",
                        "timeToExpire": "P89DT12H53M5.589S",
                        "featureScope": [
                          "ACCOUNT_BALANCES",
                          "ACCOUNT_TRANSACTIONS"
                        ],
                        "state": "a55ae8debaad4fb991b73a3a912a2004",
                        "institutionConsentId": "bdbd7ad0-b2d1-4a5c-9173-3586f30bc575",
                        "authorisationUrl": "https://scasandbox.bancobpm.it/sca/login.html?idRichiestaSCA=20210609110654029&tipoRisorsa=C&codiceASPSP=05034",
                        "qrCodeUrl": "https://images.yapily.com/image/72095dc7-4a23-4971-9a7f-e3f9c6af7921/1623236814?size=0"
                      }
                    }
                  },
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "3b262569303f47f188d16b43acd552c0"
                      },
                      "data": {
                        "id": "2d5c3632-1729-4a5e-bc69-c7fa1cbba815",
                        "userUuid": "3ddf5dd0-aa48-4d0f-baa7-fa057e9e911d",
                        "applicationUserId": "john.doe@company.com",
                        "institutionId": "modelo-sandbox",
                        "status": "AWAITING_AUTHORIZATION",
                        "createdAt": "2021-06-09T08:03:20.510Z",
                        "featureScope": [
                          "ACCOUNT_STATEMENT_FILE",
                          "ACCOUNTS",
                          "ACCOUNT_STATEMENTS",
                          "ACCOUNT_TRANSACTIONS",
                          "ACCOUNT",
                          "ACCOUNT_BALANCES",
                          "ACCOUNT_STATEMENT",
                          "ACCOUNT_SCHEDULED_PAYMENTS",
                          "ACCOUNT_TRANSACTIONS_WITH_MERCHANT",
                          "ACCOUNT_PERIODIC_PAYMENTS",
                          "ACCOUNT_BENEFICIARIES",
                          "IDENTITY",
                          "ACCOUNT_DIRECT_DEBITS"
                        ],
                        "state": "7948ba4d6a064001b06ef28f8c06ca4a",
                        "institutionConsentId": "aac-0a743a0f-0b7d-4e7b-87eb-0bc65e1d2f97",
                        "authorisationUrl": "https://ob19-auth1-ui.o3bank.co.uk/auth?client_id=e7f6b95b-5f35-419b-b301-8b08bcd946de&response_type=code+id_token&state=7948ba4d6a064001b06ef28f8c06ca4a&nonce=7948ba4d6a064001b06ef28f8c06ca4a&scope=openid+accounts&redirect_uri=https%3A%2F%2Fauth.yapily.com%2F&request=eyJraWQiOiJnRTRvU3VaZDl4TVpUNXZDdTNWYy1mdktNak0iLCJhbGciOiJQUzI1NiJ9.eyJhdWQiOiJodHRwczovL29iMTktYXV0aDEtdWkubzNiYW5rLmNvLnVrIiwic2NvcGUiOiJvcGVuaWQgYWNjb3VudHMiLCJpc3MiOiJlN2Y2Yjk1Yi01ZjM1LTQxOWItYjMwMS04YjA4YmNkOTQ2ZGUiLCJjbGllbnRfaWQiOiJlN2Y2Yjk1Yi01ZjM1LTQxOWItYjMwMS04YjA4YmNkOTQ2ZGUiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsInJlZGlyZWN0X3VyaSI6Imh0dHBzOi8vYXV0aC55YXBpbHkuY29tLyIsInN0YXRlIjoiNzk0OGJhNGQ2YTA2NDAwMWIwNmVmMjhmOGMwNmNhNGEiLCJjbGFpbXMiOnsiaWRfdG9rZW4iOnsiYWNyIjp7InZhbHVlIjoidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwiZXNzZW50aWFsIjp0cnVlfSwib3BlbmJhbmtpbmdfaW50ZW50X2lkIjp7InZhbHVlIjoiYWFjLTBhNzQzYTBmLTBiN2QtNGU3Yi04N2ViLTBiYzY1ZTFkMmY5NyIsImVzc2VudGlhbCI6dHJ1ZX19LCJ1c2VyaW5mbyI6eyJvcGVuYmFua2luZ19pbnRlbnRfaWQiOnsidmFsdWUiOiJhYWMtMGE3NDNhMGYtMGI3ZC00ZTdiLTg3ZWItMGJjNjVlMWQyZjk3IiwiZXNzZW50aWFsIjp0cnVlfX19LCJub25jZSI6Ijc5NDhiYTRkNmEwNjQwMDFiMDZlZjI4ZjhjMDZjYTRhIiwianRpIjoiNTIxNGFjNTQtNTEzYi00N2Y1LTgyYjUtZWExY2NhYzg0YzNiIiwiaWF0IjoxNjIzMjI1ODAxLCJleHAiOjE2MjMyMjc2MDF9.wmNfzJD1ekN_f028qWOyVvICkFm2uJ5Umok4hmxk4HZnDY2AOWDg4VX_MJjPHDydhfW8ZciBfCbEgmnButmASBbil-tHzwDIholS4RmnOZ4DXD-AttYx_VA2_X36J53kmlCHstPZpoawSIzdcnyW0JIhmVEvs5ZsaJvsDKhWk0hgYNS2GI0PORcn85W98EaE8APVrsz-tR-EfC9NmSZu7tH1zLyyD43AuD2BqdlMiYVTlzZsJ3FGPZ-ddT0rRloJvxPV6GLibjNAEowpSLjmDLv2v7gWszmYgcrzp5UM2jllfVL2KPA6Be5Eg6LVkL60Q3FKQyOMc8SCAWhALq_7Ew",
                        "qrCodeUrl": "https://images.yapily.com/image/3b634d3c-a2ce-49b8-9014-330661800604/1623225801?size=0"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfAuthorisationRequestResponse"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Create Account Authorisation",
        "tags": [
          "Authorisations"
        ]
      },
      "put": {
        "description": "Used to continue the authorisation process and for any `Institution` that contains the `INITIATE_PRE_AUTHORISATION` feature and direct user to the login screen of their financial institution in order to give consent to access account data. <br><br>See [Redirect Account Flows](https://docs.yapily.com/guides/financial-data/account-authorisation-flows/redirect/) for more information about this flow. <br><br>Features: <ul><li>`INITIATE_ACCOUNT_REQUEST`</li><li>`INITIATE_PRE_AUTHORISATION`</li></ul>",
        "operationId": "updatePreAuthoriseAccountConsent",
        "parameters": [
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "examples": {
                "Berlin Group Example Request": {
                  "description": "Berlin Group Example Request",
                  "value": {
                    "applicationUserId": "john.doe@company.com",
                    "institutionId": "n26"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/AccountAuthorisationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "ee8e5bcfedf348b18ae45a34135790cc"
                      },
                      "data": {
                        "id": "68e14e00-38b0-467d-a999-f70340e467b3",
                        "userUuid": "e2578545-27a4-4edf-983f-5d33c2d7b559",
                        "applicationUserId": "john.doe@company.com",
                        "institutionId": "n26",
                        "institutionConsentId": "87ec9ded-d5ea-4fb6-80c5-ad4c88246c9f",
                        "state": "4f4f9766f7264afc96a5269d6e65e066",
                        "status": "AWAITING_DECOUPLED_AUTHORIZATION",
                        "authorizedAt": "2021-05-13T09:00:06.867Z",
                        "createdAt": "2021-05-13T08:59:23.864Z",
                        "featureScope": [
                          "ACCOUNT_TRANSACTIONS",
                          "INITIATE_PRE_AUTHORISATION",
                          "ACCOUNTS",
                          "ACCOUNT_TRANSACTIONS_WITH_MERCHANT"
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfAuthorisationRequestResponse"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Update Account Pre-authorisation",
        "tags": [
          "Authorisations"
        ]
      }
    },
    "/accounts": {
      "get": {
        "description": "Used to return all accounts and balances for the end user associated with the presented consent token.<br><br>Feature: `ACCOUNTS`",
        "operationId": "getAccounts",
        "parameters": [
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "1139346006be4345a94fd8b3728844e3",
                        "count": 1
                      },
                      "data": [
                        {
                          "id": "700004000000000000000002",
                          "type": "Personal - Current",
                          "balance": -12.57,
                          "currency": "GBP",
                          "usageType": "PERSONAL",
                          "accountType": "CURRENT",
                          "nickname": "xxxx0006",
                          "accountNames": [
                            {
                              "name": "Mr. Roberto Rastapopoulos & Ivan Sakharine"
                            }
                          ],
                          "accountIdentifications": [
                            {
                              "type": "SORT_CODE",
                              "identification": "700001"
                            },
                            {
                              "type": "ACCOUNT_NUMBER",
                              "identification": "70000002"
                            }
                          ],
                          "accountBalances": [
                            {
                              "type": "EXPECTED",
                              "dateTime": "2021-06-09T08:51:02.463Z",
                              "balanceAmount": {
                                "amount": -12.57,
                                "currency": "GBP"
                              },
                              "creditLineIncluded": false,
                              "creditLines": []
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AccountApiListResponse"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Accounts",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "description": "Used to return the account and balance information for the end user associated with the presented consent token.<br><br>Feature: `ACCOUNTS`",
        "operationId": "getAccount",
        "parameters": [
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "01191f59dcd54be2854a7e686702dbd6"
                      },
                      "data": {
                        "id": "700004000000000000000002",
                        "type": "Personal - Current",
                        "balance": -12.57,
                        "currency": "GBP",
                        "usageType": "PERSONAL",
                        "accountType": "CURRENT",
                        "nickname": "xxxx0006",
                        "accountNames": [
                          {
                            "name": "Mr. Roberto Rastapopoulos & Ivan Sakharine"
                          }
                        ],
                        "accountIdentifications": [
                          {
                            "type": "SORT_CODE",
                            "identification": "700001"
                          },
                          {
                            "type": "ACCOUNT_NUMBER",
                            "identification": "70000002"
                          }
                        ],
                        "accountBalances": [
                          {
                            "type": "EXPECTED",
                            "dateTime": "2021-06-09T08:51:02.463Z",
                            "balanceAmount": {
                              "amount": -12.57,
                              "currency": "GBP"
                            },
                            "creditLineIncluded": false,
                            "creditLines": []
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfAccount"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/balances": {
      "get": {
        "description": "Used to return the balance for the end user associated with the presented consent token.<br><br>\n__Note__: This endpoint is only for obtaining the balance information of an account belonging to an `Institution` that exposes their APIs through the [CBI Globe Gateway](https://docs.yapily.com/knowledge/cbi_globe/). If the `Institution` you wish to obtain balance data is not in the CBI Globe, use [Get Account](https://docs.yapily.com/api/#get-account) or [Get Accounts](https://docs.yapily.com/api/#get-accounts) to get balance data. <br><br>Feature: `ACCOUNT_BALANCES` ",
        "operationId": "getAccountBalances",
        "parameters": [
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "CBI Globe Example Response": {
                    "description": "CBI Globe Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "82e86ae9547a4f04b3773c1207e4b84d"
                      },
                      "data": {
                        "mainBalanceAmount": {
                          "amount": -3.07920860411E9,
                          "currency": "EUR"
                        },
                        "balances": [
                          {
                            "type": "INTERIM_AVAILABLE",
                            "balanceAmount": {
                              "amount": -3.07920860411E9,
                              "currency": "EUR"
                            }
                          },
                          {
                            "type": "AUTHORISED",
                            "balanceAmount": {
                              "amount": -3.07920860411E9,
                              "currency": "EUR"
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfBalances"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Balances",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/beneficiaries": {
      "get": {
        "description": "Used to get all the beneficiaries of a user's account<br><br>Feature: `ACCOUNT_BENEFICIARIES`",
        "operationId": "getBeneficiaries",
        "parameters": [
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "data": [
                        {
                          "id": "112",
                          "trusted": true,
                          "reference": "Rent",
                          "payee": {
                            "name": "John Doe",
                            "accountIdentifications": [
                              {
                                "type": "SORT_CODE",
                                "identification": "123456"
                              },
                              {
                                "type": "ACCOUNT_NUMBER",
                                "identification": "12345678"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponseOfBeneficiary"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Beneficiaries",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/direct-debits": {
      "get": {
        "description": "Used to get the list of direct debits for an account.<br><br>Feature: `ACCOUNT_DIRECT_DEBIT`",
        "operationId": "getAccountDirectDebits",
        "parameters": [
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 0 and 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "c2dec674a3fb402e8543129565491244",
                        "count": 2,
                        "pagination": {
                          "totalCount": 2,
                          "self": {
                            "limit": 1000
                          }
                        }
                      },
                      "data": [
                        {
                          "id": "700009000000000000000076",
                          "statusDetails": {
                            "status": "INACTIVE"
                          },
                          "payeeDetails": {
                            "name": "EDF ENERGY"
                          },
                          "reference": "671018097704",
                          "previousPaymentAmount": {
                            "amount": 145.0,
                            "currency": "GBP"
                          },
                          "previousPaymentDateTime": "2016-10-05T00:00:00Z"
                        },
                        {
                          "id": "700009000000000000000038",
                          "statusDetails": {
                            "status": "ACTIVE"
                          },
                          "payeeDetails": {
                            "name": "SANTANDER MORTGAGE"
                          },
                          "reference": "40118272",
                          "previousPaymentAmount": {
                            "amount": 1000.00,
                            "currency": "GBP"
                          },
                          "previousPaymentDateTime": "2017-12-01T00:00:00Z"
                        }
                      ],
                      "links": {
                        "self": "https://api.yapily.com/accounts/700004000000000000000002/direct-debits?limit=1000"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponseOfDirectDebitResponse"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Direct Debits",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/periodic-payments": {
      "get": {
        "description": "Used to get the list of periodic payments (standing orders in the UK) for an account.<br><br>Feature: `ACCOUNT_PERIODIC_PAYMENTS`",
        "operationId": "getAccountPeriodicPayments",
        "parameters": [
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 0 and 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "51d039be096f492ca5184d4ea72b4caf",
                        "count": 1,
                        "pagination": {
                          "totalCount": 1,
                          "self": {
                            "limit": 1000
                          }
                        }
                      },
                      "data": [
                        {
                          "id": "95d29cb3-5ef4-4c92-885f-8ba971adc5d1",
                          "statusDetails": {
                            "status": "UNKNOWN"
                          },
                          "payeeDetails": {
                            "name": "xxxxx129",
                            "accountIdentifications": [
                              {
                                "type": "IBAN",
                                "identification": "DE16700222000072880129"
                              }
                            ]
                          },
                          "reference": "544878_60c0809a",
                          "firstPaymentAmount": {
                            "amount": 1259.00,
                            "currency": "GBP"
                          },
                          "firstPaymentDateTime": "2021-07-10T23:00:00Z",
                          "nextPaymentAmount": {
                            "amount": 1259.00,
                            "currency": "GBP"
                          },
                          "nextPaymentDateTime": "2021-07-10T23:00:00Z",
                          "finalPaymentAmount": {
                            "amount": 1259.00,
                            "currency": "GBP"
                          },
                          "finalPaymentDateTime": "2022-04-11T23:00:00Z",
                          "frequency": {
                            "frequencyType": "MONTHLY",
                            "intervalMonth": 1,
                            "executionDay": 11
                          }
                        }
                      ],
                      "links": {
                        "self": "https://api.yapily.com/accounts/700004000000000000000002/periodic-payments?limit=1000"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponseOfPaymentResponse"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Periodic Payments",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/scheduled-payments": {
      "get": {
        "description": "Used to get the list of scheduled payments for an account.<br><br>Feature: `ACCOUNT_SCHEDULED_PAYMENT`",
        "operationId": "getAccountScheduledPayments",
        "parameters": [
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 0 and 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "OBIE Example Response": {
                    "description": "OBIE Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "0de4ed83caf542f6bcaa30c62275191c",
                        "count": 1,
                        "pagination": {
                          "totalCount": 1,
                          "self": {
                            "limit": 1000
                          }
                        }
                      },
                      "data": [
                        {
                          "id": "6f62b428-c3a0-42eb-a838-ae41e52916e9",
                          "payeeDetails": {
                            "name": "Mr. Roberto Rastapopoulos & Ivan Sakharine & mits",
                            "accountIdentifications": [
                              {
                                "type": "ACCOUNT_NUMBER",
                                "identification": "70000002"
                              },
                              {
                                "type": "SORT_CODE",
                                "identification": "700001"
                              }
                            ]
                          },
                          "reference": "f62ee3bad94d432d9786ba038131b5d7",
                          "amountDetails": {
                            "amount": 1.00,
                            "currency": "GBP"
                          },
                          "scheduledPaymentType": "EXECUTION",
                          "scheduledPaymentDateTime": "2021-12-01T00:00:00+01:00"
                        }
                      ],
                      "links": {
                        "self": "https://api.yapily.com/accounts/700004000000000000000002/scheduled-payments?limit=1000"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponseOfPaymentResponse"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Scheduled Payments",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/statements": {
      "get": {
        "description": "Used to get the list of statements for an account.<br><br>Feature: `ACCOUNT_STATEMENTS`",
        "operationId": "getStatements",
        "parameters": [
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Returned transactions will be on or after this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ). ",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Returned transactions will be on or before this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).",
            "in": "query",
            "name": "before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 0 and 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "__Optional__. Sort transaction records by date ascending with 'date' or descending with '-date'. The default sort order is descending",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortEnum"
            }
          },
          {
            "description": "__Optional__. The number of transaction records to be skipped. Used primarily with paginated results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Example Response": {
                    "description": "Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "fd5c215acd034401a8eaa8aeec1eafc7",
                        "count": 1,
                        "pagination": {
                          "totalCount": 1,
                          "self": {
                            "limit": 1000,
                            "sort": "-date",
                            "offset": 0
                          }
                        }
                      },
                      "data": [
                        {
                          "id": "700014000000000000000002",
                          "startDateTime": "2017-08-01T00:00:00Z",
                          "endDateTime": "2017-08-31T23:59:59Z",
                          "creationDateTime": "2017-09-01T00:00:00Z"
                        }
                      ],
                      "links": {
                        "self": "https://api.yapily.com/accounts/700004000000000000000002/statements?from&before&limit=1000&sort=-date&offset=0"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponseOfAccountStatement"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Statements",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/statements/{statementId}": {
      "get": {
        "description": "Used to get a statement for an account.<br><br>Feature: `ACCOUNT_STATEMENT`",
        "operationId": "getStatement",
        "parameters": [
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The statement Id of the statement file.",
            "in": "path",
            "name": "statementId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Example Response": {
                    "description": "Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "8bacaae3025647efa1891157993e32fb"
                      },
                      "data": {
                        "id": "700014000000000000000002",
                        "startDateTime": "2017-08-01T00:00:00Z",
                        "endDateTime": "2017-08-31T23:59:59Z",
                        "creationDateTime": "2017-09-01T00:00:00Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfAccountStatement"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Statement",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/statements/{statementId}/file": {
      "get": {
        "description": "Used to get the statement file for an account.<br><br>Feature: `ACCOUNT_STATEMENT_FILE`",
        "operationId": "getStatementFile",
        "parameters": [
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The statement Id of the statement file.",
            "in": "path",
            "name": "statementId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Statement File",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/accounts/{accountId}/transactions": {
      "get": {
        "description": "Used to get the account transactions for an account<br><br>Feature: `ACCOUNT_TRANSACTIONS`",
        "operationId": "getTransactions",
        "parameters": [
          {
            "description": "__Mandatory__. The account Id of the user's bank account.",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Can be `categories` or `merchant`. When set, will include enrichment data in the transactions returned. <br><br>Enrichment data is optional, e.g. when 'merchant' enrichment data is requested, the enrichment response will include merchant data only if it can be evaluated from the transaction.",
            "in": "query",
            "name": "with",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "__Optional__. Returned transactions will be on or after this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ). ",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Returned transactions will be on or before this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).",
            "in": "query",
            "name": "before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 0 and 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "__Optional__. Sort transaction records by date ascending with 'date' or descending with '-date'. The default sort order is descending",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortEnum"
            }
          },
          {
            "description": "__Optional__. The number of transaction records to be skipped. Used primarily with paginated results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "__Optional__. This property is not currently in use.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Example Response": {
                    "description": "Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "488ce8243ee74a378be722ffffec8f7f",
                        "count": 1,
                        "pagination": {
                          "totalCount": 1,
                          "self": {
                            "limit": 1000,
                            "sort": "-date",
                            "offset": 0
                          }
                        }
                      },
                      "data": [
                        {
                          "id": "49d6e5c6-0130-46e3-884b-1b185432d9e0",
                          "date": "2021-05-06T17:44:34.589Z",
                          "bookingDateTime": "2021-05-06T17:44:34.589Z",
                          "valueDateTime": "2021-05-06T17:44:34.589Z",
                          "status": "BOOKED",
                          "amount": -100.23,
                          "currency": "GBP",
                          "transactionAmount": {
                            "amount": -100.23,
                            "currency": "GBP"
                          },
                          "reference": "0",
                          "description": "Debit for Payment Id: sdp-1-57379a43-c4b8-49f5-bd7c-699189ee7a60",
                          "transactionInformation": [
                            "Debit for Payment Id: sdp-1-57379a43-c4b8-49f5-bd7c-699189ee7a60"
                          ],
                          "isoBankTransactionCode": {
                            "domainCode": {
                              "code": "PMNT",
                              "name": "Payments"
                            },
                            "familyCode": {
                              "code": "ICDT",
                              "name": "Issued Credit Transfers"
                            },
                            "subFamilyCode": {
                              "code": "DMCT",
                              "name": "Domestic Credit Transfer"
                            }
                          },
                          "proprietaryBankTransactionCode": {
                            "code": "PMT",
                            "issuer": "modelo-sandbox"
                          },
                          "balance": {
                            "type": "CLOSING_AVAILABLE",
                            "balanceAmount": {
                              "amount": 426.53,
                              "currency": "GBP"
                            }
                          },
                          "enrichment": {
                            "transactionHash": {
                              "hash": "adad72d7b3069ab9e4a6cb2844e2e3e9.1"
                            }
                          }
                        }
                      ],
                      "links": {
                        "self": "https://api.yapily.com/accounts/700004000000000000000002/transactions?from&before&limit=1000&sort=-date&offset=0&cursor"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponseOfTransaction"
                }
              }
            },
            "description": "Ok"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Get Account Transactions",
        "tags": [
          "Financial Data"
        ]
      }
    },
    "/bulk-payment-auth-requests": {
      "post": {
        "description": "Used to initiate the authorisation process and direct users to the login screen of their financial Institution in order to give their consent for a bulk payment. See [Bulk Payments](https://docs.yapily.com/guides/payments/payment-execution/bulk-payments) for more information. <br><br>See [Redirect Payment Flows](https://docs.yapily.com/guides/payments/payment-authorisation-flows/redirect/) for more information about this flow.<br><br>Feature: `INITIATE_BULK_PAYMENT`",
        "operationId": "createBulkPaymentAuthorisation",
        "parameters": [
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "examples": {
                "UK Bulk Payment Example Request": {
                  "description": "UK Bulk Payment Example Request",
                  "value": {
                    "applicationUserId": "john.doe@company.com",
                    "institutionId": "modelo-sandbox",
                    "callback": "https://display-parameters.com/",
                    "paymentRequest": {
                      "payments": [
                        {
                          "type": "DOMESTIC_PAYMENT",
                          "paymentIdempotencyId": "d78fy48uh8f9odhde68dfi38di9",
                          "reference": "payment1",
                          "amount": {
                            "amount": 2.00,
                            "currency": "GBP"
                          },
                          "payee": {
                            "name": "Jane Doe",
                            "accountIdentifications": [
                              {
                                "type": "ACCOUNT_NUMBER",
                                "identification": "12345678"
                              },
                              {
                                "type": "SORT_CODE",
                                "identification": "123456"
                              }
                            ]
                          }
                        },
                        {
                          "type": "DOMESTIC_PAYMENT",
                          "paymentIdempotencyId": "4279gdy8t63dg73gd8gx87738dg",
                          "reference": "payment2",
                          "amount": {
                            "amount": 5.00,
                            "currency": "GBP"
                          },
                          "payee": {
                            "name": "John Doe",
                            "accountIdentifications": [
                              {
                                "type": "ACCOUNT_NUMBER",
                                "identification": "87654321"
                              },
                              {
                                "type": "SORT_CODE",
                                "identification": "654321"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/BulkPaymentAuthorisationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "UK Bulk Payment Example Response": {
                    "description": "UK Bulk Payment Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "96169af01d394ad39658f17d53b49a5d"
                      },
                      "data": {
                        "id": "a2a9ec77-a479-4996-9896-4568e1968e7a",
                        "userUuid": "5350782b-60f3-489e-aae5-a24d8d679a07",
                        "applicationUserId": "john.doe@company.com",
                        "institutionId": "modelo-sandbox",
                        "status": "AWAITING_AUTHORIZATION",
                        "createdAt": "2021-06-09T13:48:25.138Z",
                        "featureScope": [
                          "EXISTING_PAYMENTS_DETAILS",
                          "EXISTING_PAYMENT_INITIATION_DETAILS",
                          "CREATE_BULK_PAYMENT"
                        ],
                        "state": "80052c03007f41d589f64377eef4d620",
                        "institutionConsentId": "sdp-6-25ff5bd8-d01c-422d-aa9e-8e68808bc899",
                        "authorisationUrl": "https://ob19-auth1-ui.o3bank.co.uk/auth?client_id=e7f6b95b-5f35-419b-b301-8b08bcd946de&response_type=code+id_token&state=80052c03007f41d589f64377eef4d620&nonce=80052c03007f41d589f64377eef4d620&scope=openid+payments&redirect_uri=https%3A%2F%2Fauth.yapily.com%2F&request=eyJraWQiOiJnRTRvU3VaZDl4TVpUNXZDdTNWYy1mdktNak0iLCJhbGciOiJQUzI1NiJ9.eyJhdWQiOiJodHRwczovL29iMTktYXV0aDEtdWkubzNiYW5rLmNvLnVrIiwic2NvcGUiOiJvcGVuaWQgcGF5bWVudHMiLCJpc3MiOiJlN2Y2Yjk1Yi01ZjM1LTQxOWItYjMwMS04YjA4YmNkOTQ2ZGUiLCJjbGllbnRfaWQiOiJlN2Y2Yjk1Yi01ZjM1LTQxOWItYjMwMS04YjA4YmNkOTQ2ZGUiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsInJlZGlyZWN0X3VyaSI6Imh0dHBzOi8vYXV0aC55YXBpbHkuY29tLyIsInN0YXRlIjoiODAwNTJjMDMwMDdmNDFkNTg5ZjY0Mzc3ZWVmNGQ2MjAiLCJjbGFpbXMiOnsiaWRfdG9rZW4iOnsiYWNyIjp7InZhbHVlIjoidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwiZXNzZW50aWFsIjp0cnVlfSwib3BlbmJhbmtpbmdfaW50ZW50X2lkIjp7InZhbHVlIjoic2RwLTYtMjVmZjViZDgtZDAxYy00MjJkLWFhOWUtOGU2ODgwOGJjODk5IiwiZXNzZW50aWFsIjp0cnVlfX0sInVzZXJpbmZvIjp7Im9wZW5iYW5raW5nX2ludGVudF9pZCI6eyJ2YWx1ZSI6InNkcC02LTI1ZmY1YmQ4LWQwMWMtNDIyZC1hYTllLThlNjg4MDhiYzg5OSIsImVzc2VudGlhbCI6dHJ1ZX19fSwibm9uY2UiOiI4MDA1MmMwMzAwN2Y0MWQ1ODlmNjQzNzdlZWY0ZDYyMCIsImp0aSI6ImUxYjZmMWM4LTQ1ZTktNGM0NS05NGE0LWExMTY1Nzk2NjZiNiIsImlhdCI6MTYyMzI0NjUwNSwiZXhwIjoxNjIzMjQ4MzA1fQ.C5YkClHiDOWl1CKnmEY0gM_JizUuELp2-k7sDjsWV5T-mgTWviO-jM7iVfCf4MsU6batLSBmeUFLco1b3S8PTQkAzwM3laHIgbfDAb_6bYkSBTbPriyzKcC8xAwhX3VdvWtb9qqdrn9zXSmIIITBhJdMzk1cgIjyETD7WNPln839eGP1-w8iB8yDOJOkYGRHJ850mQY-lk61GegmKs5kaxtYPIhrG2gygIi3JsN-uQJ6YOl2-5pylTEcJbuwhFiyeePdqHZdabqW2BSA6lDKQbMV_Zow_zhSWoFFv6RZdXCQpt4TBRj1W7tzZQKin-MC-TpzaF1q07RpSy0NtlN85w",
                        "qrCodeUrl": "https://images.yapily.com/image/2bbb79b8-2c4a-4c8e-9132-0636879437da/1623246505?size=0"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Create Bulk Payment Authorisation",
        "tags": [
          "Authorisations"
        ]
      }
    },
    "/bulk-payments": {
      "post": {
        "description": "Used to initiate a bulk payment after obtaining the user's authorisation. <br><br>Feature: `CREATE_BULK_PAYMENT`",
        "operationId": "createBulkPayment",
        "parameters": [
          {
            "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
            "example": "{consentToken}",
            "in": "header",
            "name": "consent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-corporate-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/knowledge/psu_identifiers/) to see if this header is required.",
            "in": "header",
            "name": "psu-ip-address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "__Optional__. Used to obtain the raw request and response to and from the <code>Institution</code>.",
            "in": "query",
            "name": "raw",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "examples": {
                "UK Bulk Payment Example Request": {
                  "description": "UK Bulk Payment Example Request",
                  "value": {
                    "payments": [
                      {
                        "type": "DOMESTIC_PAYMENT",
                        "paymentIdempotencyId": "d78fy48uh8f9odhde68dfi38di9",
                        "reference": "payment1",
                        "amount": {
                          "amount": 2.00,
                          "currency": "GBP"
                        },
                        "payee": {
                          "name": "Jane Doe",
                          "accountIdentifications": [
                            {
                              "type": "ACCOUNT_NUMBER",
                              "identification": "12345678"
                            },
                            {
                              "type": "SORT_CODE",
                              "identification": "123456"
                            }
                          ]
                        }
                      },
                      {
                        "type": "DOMESTIC_PAYMENT",
                        "paymentIdempotencyId": "4279gdy8t63dg73gd8gx87738dg",
                        "reference": "payment2",
                        "amount": {
                          "amount": 5.00,
                          "currency": "GBP"
                        },
                        "payee": {
                          "name": "John Doe",
                          "accountIdentifications": [
                            {
                              "type": "ACCOUNT_NUMBER",
                              "identification": "87654321"
                            },
                            {
                              "type": "SORT_CODE",
                              "identification": "654321"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/BulkPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "UK Bulk Payment Example Response": {
                    "description": "UK Bulk Payment Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "0cda48c70f3941148bbee775a65fa3d0"
                      },
                      "data": {
                        "id": "pv3-a1e2ecb0-270c-42e2-8ba5-005261b629d2",
                        "institutionConsentId": "sdp-6-b06f9a82-c641-4aba-b76d-43e6bc052f75",
                        "status": "COMPLETED",
                        "statusDetails": {
                          "status": "COMPLETED",
                          "statusUpdateDate": "2021-06-09T13:53:28.67Z"
                        },
                        "createdAt": "2021-06-09T13:53:28.67Z",
                        "bulkAmountSum": 7
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfPaymentResponse"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Error Response": {
                    "description": "Error Response",
                    "value": {
                      "error": {
                        "code": 401,
                        "status": "UNAUTHORIZED",
                        "message": "Full authentication is required to access this resource"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            },
            "description": "Error Response"
          }
        },
        "summary": "Create Bulk Payment",
        "tags": [
          "Payments"
        ]
      }
    },
    "/categories/{country}": {
      "get": {
        "description": "Used to retrieve the list of categories returned by the Yapily Categorisation engine for a given locale. <br><br>See [Data Enrichment](https://docs.yapily.com/guides/financial-data/data-enrichment) for more information.",
        "operationId": "getCategories",
        "parameters": [
          {
            "description": "__Mandatory__. The 2 letter country code e.g. 'GB'.",
            "in": "path",
            "name": "country",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json;charset=UTF-8": {
                "examples": {
                  "Example Response": {
                    "description": "Example Response",
                    "value": {
                      "meta": {
                        "tracingId": "a5b0fc4b8b8a4b7085f4412b2b64e969",
                        "count": 21
                      },
                      "data": [
                        {
                          "id": "06d10bcd-dbcc-4a61-b5a1-c119adc16adf",
                          "label": "INCOME",
                          "country": "GB",
                          "subcategories": []
                        },
                        {
                          "id": "1051a1ff-5552-4b53-ba43-eeeac96d710f",
                          "label": "INCOME_OTHER",
                          "country": "GB",
                          "subcategories": []
                        },
                        {
                          "id": "2f527678-a698-4c00-9880-3063b39f71df",
                          "label": "INCOME_REFUNDS",
                          "country": "GB",
                          "subcategories": []
                        },
                        {
                          "id": "3954ed5c-1663-4356-869e-241f305c8b4b",
                          "label": "BILLS",
                          "country": "GB",
                          "subcategories": [
                            {
                              "id": "03e037d4-c950-4540-a298-36cce7eb9ce9",
                              "label": "INTERNET / TV"
                            },
                            {
[...]
