{
  "openapi": "3.0.1",
  "info": {
      "description": "The Yapily API enables connections between your application and users' banks. For more information check out our [documentation](https://docs.yapily.com/).<br><br>In particular, make sure to view our [Getting Started](https://docs.yapily.com/pages/home/getting-started/) steps if this is your first time here.<br><br>While testing the API, our list of [sandbox credentials](https://docs.yapily.com/pages/key-concepts/sandbox-credentials/) maybe useful.",
      "title": "Yapily API",
      "version": "10.9.0",
      "contact": {
          "name": "Yapily Support",
          "url": "https://docs.yapily.com/pages/resources/support/",
          "email": "support@yapily.com"
      }
  },
  "servers": [
      {
          "url": "https://api.yapily.com"
      }
  ],
  "security": [
      {
      "basicAuth": [
      ]
      }
  ],
  "tags": [
      {
          "description": "The `Application` is the base entity that is used to interact with the API and contains a collection of `Institution` objects. You can have multiple Applications associated with your account e.g. a production application with live access to each `Institution` and a development application with access to sandboxes.",
          "name": "Application"
      },
      {
          "description": "The Users endpoints are used to manage each user (otherwise known as the PSU) in Yapily. Each user belongs to an Application and as a consequence, so do each `Consent` created for a particular `User`.",
          "name": "Users"
      },
      {
          "description": "An `Institution` object represents any Account Serving Payment Servicing Provider (ASPSP) that has been integrated and is accessible through the Yapily APIs (ASPSPs are entities that publish Read/Write APIs to permit, with customer consent, payments initiated by third party providers and/or make their customers financial data available to third party providers via their API endpoints).<br><br>Any one of the following would be represented as Institution:<ul><li>Traditional banks e.g. Santander</li><li>Neo-banks e.g. Monzo</li><li>Building societies e.g. Cumberland Building Society</li></ul>",
          "name": "Institutions"
      },
      {
          "description": "The Consents endpoints are used to manage each `Consent` created by Yapily in response to an authorisation created for a user.<br><br>The `Consent` object contains data that identifies a user's consent for a specific `Institution` within a Yapily application. Other than the id of the consent, the `institution-id` for the corresponding `Institution` and the user identifiers (`user-uuid` and `application-user-id`), it contains various details that indicates how the `Consent` can be used.",
          "name": "Consents"
      },
      {
          "description": "Before calling [Financial Data](#yapily-api-financial-data) or [Payments](#yapily-api-payments) endpoints, a consent from an end-user must be obtained.<br><br>Consents are valid for up to 90 days for Financial Data endpoints and have a single-use for Payment endpoints i.e. a new consent must be obtained for each payment.<aside class=\"info\">NOTE: A user consent is also referred to as an 'Authorisation'.</aside>",
          "name": "Authorisations"
      },
      {
          "description": "In order to access a user's Financial Data, you are required to request an [Authorisation](#yapily-api-authorisations) from the user to share the account information the bank has. Once a `consent-token` is obtained, you can call the necessary Financial Data endpoint(s) to retrieve the user's data.",
          "name": "Financial Data"
      },
      {
          "description": "In order to make a Payment on behalf of a user, you are required to request an [Authorisation](#yapily-api-authorisations) from the user to authorise the user's account to make the payment from. Once a `consent-token` is obtained, you can call the necessary Payments endpoint(s) to execute a payment.",
          "name": "Payments"
      },
      {
          "description": "The Notifications endpoints provide an interactive way for user to receive notifications according to different event-types. This feature is currently in private beta. Please reach out if you require access. \n\n",
          "name": "Notifications"
      },
      {
          "description": "Variable Recurring Payments enables transfer of money between accounts held by the same person or transfer of money for business payments. <br><br>In order to make Sweeping Variable Recurring Payments on behalf of a user, you are required to request an [Consent](#yapily-api-authorisations) from the user by calling the Sweeping Consent endpoint to authorise the user's account to make the payment. Once a `consent-token` is obtained, you can call the Payments endpoint to execute the Sweeping Variable Recurring Payments transaction. Before executing the payment, you have the option to confirm availability of funds in the user's account by calling the Funds Confirmation endpoint. <br><br>See [VRP Payments](https://docs.yapily.com/pages/key-concepts/payments/payment-execution/variable-recurring-payments/) for more information. ",
          "name": "Variable Recurring Payments"
      },
      {
        "description": "Hosted Payment Pages endpoints for payments products",
        "name": "Hosted Payment Pages"
      },
      {
        "description": "Hosted Consent Pages endpoints for data products",
        "name": "Hosted Consent Pages"
      },
      {
          "description": "The constraints endpoints can be used to retrieve institution specific data requirements and rules that will apply when performing other operations.",
          "name": "Constraints"
      },
      {
          "description": "Application Management endpoints help with creating and managing client sub-applications.",
          "name": "Application Management"
      },
      {
          "description": "Data Plus endpoints enable our customers to enrich transaction data. ",
          "name": "Data Plus"
      },
      {
          "description": "Webhook endpoints enable our customers to register webhooks to receive notifications for various webhook events categories for their application. Once registered successfully, customers should receive notifications for those events registered.",
          "name": "Webhooks"
      }
  ],
  "x-tagGroups": [
      {
          "name": "Endpoints",
          "tags": [
              "Application",
              "Users",
              "Institutions",
              "Consents",
              "Authorisations",
              "Financial Data",
              "Payments",
              "Notifications",
              "Variable Recurring Payments",
              "Hosted Payment Pages",
              "Hosted Consent Pages",
              "Constraints",
              "Application Management",
              "Data Plus",
              "Webhooks"
          ]
      }
  ],
  "paths": {
      "/account-auth-requests": {
          "x-yapily-features": [
              "INITIATE_ACCOUNT_REQUEST"
          ],
          "patch": {
              "description": "Used to prompt the account holder for continued access to their financial data. This endpoint should be used when a `Consent` that was previously `AUTHORIZED` can no longer be used to retrieve data.<br><br>See [Re-Authorisation](https://docs.yapily.com/pages/key-concepts/account-data/account-consents/#re-authorisation) for more information.",
              "operationId": "reAuthoriseAccount",
              "parameters": [
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "responses": {
                  "201": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-acc-auth-response-patch"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfAccountAuthorisationResponse"
                              }
                          }
                      },
                      "description": "Created"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Re-authorise Account Consent",
              "tags": [
                  "Authorisations"
              ]
          },
          "post": {
              "description": "Used to initiate the authorisation process and direct users to the login screen of their financial institution in order to give consent to access account data.<br><br>See [Redirect Account Flows](https://docs.yapily.com/pages/key-concepts/account-data/account-authorisation/redirect-account-flows/) for more information about this flow.<br><br>Feature: `INITIATE_ACCOUNT_REQUEST`",
              "operationId": "initiateAccountRequest",
              "parameters": [
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                    "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "requestBody": {
                  "content": {
                      "application/json;charset=UTF-8": {
                          "examples": {
                              "OBIE Example Request": {
                                  "$ref": "#/components/examples/obie-example-acc-auth-request"
                              }
                          },
                          "schema": {
                              "$ref": "#/components/schemas/AccountAuthorisationRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-acc-auth-response-post"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfAccountAuthorisationResponse"
                              }
                          }
                      },
                      "description": "Created"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Create Account Authorisation",
              "tags": [
                  "Authorisations"
              ]
          },
          "put": {
              "description": "Used to continue the authorisation process and for any `Institution` that contains the `INITIATE_PRE_AUTHORISATION` feature and direct user to the login screen of their financial institution in order to give consent to access account data. <br><br>See [Redirect Account Flows](https://docs.yapily.com/pages/key-concepts/account-data/account-authorisation/redirect-account-flows/) for more information about this flow. <br><br>Features: <ul><li>`INITIATE_ACCOUNT_REQUEST`</li><li>`INITIATE_PRE_AUTHORISATION`</li></ul>",
              "operationId": "updatePreAuthoriseAccountConsent",
              "parameters": [
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                    "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "requestBody": {
                  "content": {
                      "application/json;charset=UTF-8": {
                          "examples": {
                              "Berlin Group Example Request": {
                                  "$ref": "#/components/examples/berlin-group-example-acc-auth-request"
                              }
                          },
                          "schema": {
                              "$ref": "#/components/schemas/AccountAuthorisationRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-acc-auth-response-put"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfAccountAuthorisationResponse"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Update Account Pre-authorisation",
              "tags": [
                  "Authorisations"
              ]
          }
      },
      "/accounts": {
          "x-yapily-features": [
              "ACCOUNTS",
              "ACCOUNTS_WITHOUT_BALANCE"
          ],
          "get": {
              "description": "Returns all accounts and balances for the end user associated with the presented consent token.<br><br>Feature: `ACCOUNTS`",
              "operationId": "getAccounts",
              "parameters": [
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-accounts-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/AccountApiListResponse"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Accounts",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}": {
          "x-yapily-features": [
              "ACCOUNT",
              "ACCOUNT_WITHOUT_BALANCE"
          ],
          "get": {
              "description": "Returns the account and balance information for a user's specified account.<br><br>Feature: `ACCOUNT`",
              "operationId": "getAccount",
              "parameters": [
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-account-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfAccount"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/balances": {
          "x-yapily-features": [
              "ACCOUNT_BALANCES"
          ],
          "get": {
              "description": "Returns the balance for the end user associated with the presented consent token.<br><br>Feature: `ACCOUNT_BALANCES`",
              "operationId": "getAccountBalances",
              "parameters": [
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example response": {
                                      "$ref": "#/components/examples/example-acc-balance-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfBalances"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Balances",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/beneficiaries": {
          "x-yapily-features": [
              "ACCOUNT_BENEFICIARIES"
          ],
          "get": {
              "description": "Returns all the beneficiaries of a user's account.<br><br>Feature: `ACCOUNT_BENEFICIARIES`",
              "operationId": "getBeneficiaries",
              "parameters": [
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-acc-beneficiaries-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiListResponseOfBeneficiary"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Beneficiaries",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/direct-debits": {
          "x-yapily-features": [
              "ACCOUNT_DIRECT_DEBITS"
          ],
          "get": {
              "description": "Returns the list of direct debits for an account.<br><br>Feature: `ACCOUNT_DIRECT_DEBITS`",
              "operationId": "getAccountDirectDebits",
              "parameters": [
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  },
                  {
                      "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 1 and 1000.",
                      "in": "query",
                      "name": "limit",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-acc-direct-debits-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiListResponseOfDirectDebitResponse"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Direct Debits",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/periodic-payments": {
          "x-yapily-features": [
              "ACCOUNT_PERIODIC_PAYMENTS"
          ],
          "get": {
              "description": "Returns the list of periodic payments (standing orders in the UK) for an account.<br><br>Feature: `ACCOUNT_PERIODIC_PAYMENTS`",
              "operationId": "getAccountPeriodicPayments",
              "parameters": [
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  },
                  {
                      "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 1 and 1000.",
                      "in": "query",
                      "name": "limit",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-acc-periodic-payments-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiListResponseOfPaymentResponse"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Periodic Payments",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/scheduled-payments": {
          "x-yapily-features": [
              "ACCOUNT_SCHEDULED_PAYMENTS"
          ],
          "get": {
              "description": "Returns the list of scheduled payments for an account.<br><br>Feature: `ACCOUNT_SCHEDULED_PAYMENTS`",
              "operationId": "getAccountScheduledPayments",
              "parameters": [
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  },
                  {
                      "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 1 and 1000.",
                      "in": "query",
                      "name": "limit",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "OBIE Example Response": {
                                      "$ref": "#/components/examples/obie-example-acc-scheduled-payments-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiListResponseOfPaymentResponse"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Scheduled Payments",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/statements": {
          "x-yapily-features": [
              "ACCOUNT_STATEMENTS"
          ],
          "get": {
              "description": "Returns the list of statements for an account.<br><br>Feature: `ACCOUNT_STATEMENTS`",
              "operationId": "getStatements",
              "parameters": [
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  },
                  {
                      "description": "__Optional__. Returned transactions will be on or after this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ). ",
                      "in": "query",
                      "name": "from",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Optional__. Returned transactions will be on or before this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).",
                      "in": "query",
                      "name": "before",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 1 and 1000.",
                      "in": "query",
                      "name": "limit",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  },
                  {
                      "description": "__Optional__. Sort transaction records by date ascending with 'date' or descending with '-date'. The default sort order is descending",
                      "in": "query",
                      "name": "sort",
                      "required": false,
                      "schema": {
                          "$ref": "#/components/schemas/SortEnum"
                      }
                  },
                  {
                      "description": "__Optional__. The number of transaction records to be skipped. Used primarily with paginated results.",
                      "in": "query",
                      "name": "offset",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/account-statements-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiListResponseOfAccountStatement"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Statements",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/statements/{statementId}": {
          "x-yapily-features": [
              "ACCOUNT_STATEMENT"
          ],
          "get": {
              "description": "Returns a statement for an account.<br><br>Feature: `ACCOUNT_STATEMENT`",
              "operationId": "getStatement",
              "parameters": [
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The statement Id of the statement file.",
                      "in": "path",
                      "name": "statementId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "description": "Example Response",
                                      "value": {
                                          "meta": {
                                              "tracingId": "8bacaae3025647efa1891157993e32fb"
                                          },
                                          "data": {
                                              "id": "700014000000000000000002",
                                              "startDateTime": "2017-08-01T00:00:00Z",
                                              "endDateTime": "2017-08-31T23:59:59Z",
                                              "creationDateTime": "2017-09-01T00:00:00Z"
                                          }
                                      }
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfAccountStatement"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Statement",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/statements/{statementId}/file": {
          "x-yapily-features": [
              "ACCOUNT_STATEMENT_FILE"
          ],
          "get": {
              "description": "Returns a PDF file of a statement for an account.<br><br>Feature: `ACCOUNT_STATEMENT_FILE`",
              "operationId": "getStatementFile",
              "parameters": [
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The statement Id of the statement file.",
                      "in": "path",
                      "name": "statementId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                    "$ref": "#/components/parameters/SubAppHeader"
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/pdf": {
                              "schema": {
                                  "type": "string",
                                  "format": "binary"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Statement File",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/accounts/{accountId}/transactions": {
          "x-yapily-features": [
              "ACCOUNT_TRANSACTIONS",
              "ACCOUNT_TRANSACTIONS_WITH_MERCHANT"
          ],
          "get": {
              "description": "Returns the account transactions for an account.<br><br>Feature: `ACCOUNT_TRANSACTIONS`",
              "operationId": "getTransactions",
              "parameters": [
                  {
                      "description": "__Mandatory__. The account Id of the user's bank account.",
                      "in": "path",
                      "name": "accountId",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "$ref": "#/components/parameters/SubAppHeader"
                  },
                  {
                      "description": "__Optional__. Returned transactions will be on or after this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ). ",
                      "in": "query",
                      "name": "from",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Optional__. Returned transactions will be on or before this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).",
                      "in": "query",
                      "name": "before",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 1 and 1000.",
                      "in": "query",
                      "name": "limit",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  },
                  {
                      "description": "__Optional__. Sort transaction records by date ascending with 'date' or descending with '-date'. The default sort order is descending",
                      "in": "query",
                      "name": "sort",
                      "required": false,
                      "schema": {
                          "$ref": "#/components/schemas/SortEnum"
                      }
                  },
                  {
                      "description": "__Optional__. The number of transaction records to be skipped. Used primarily with paginated results.",
                      "in": "query",
                      "name": "offset",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  },
                  {
                      "description": "__Optional__. This property is not currently in use.",
                      "in": "query",
                      "name": "cursor",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/account-transactions-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiListResponseOfTransaction"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Account Transactions",
              "tags": [
                  "Financial Data"
              ]
          }
      },
      "/bulk-payment-auth-requests": {
          "x-yapily-features": [
              "INITIATE_BULK_PAYMENT"
          ],
          "post": {
              "description": "Used to initiate the authorisation process and direct users to the login screen of their financial Institution in order to give their consent for a bulk payment. See [Bulk Payments](https://docs.yapily.com/pages/key-concepts/payments/payment-execution/bulk-payments/) for more information. <br><br>See [Redirect Payment Flows](https://docs.yapily.com/pages/key-concepts/payments/payment-authorisation/redirect-payment-flows/) for more information about this flow.<br><br>Feature: `INITIATE_BULK_PAYMENT`",
              "operationId": "createBulkPaymentAuthorisation",
              "parameters": [
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "content": {
                      "application/json;charset=UTF-8": {
                          "examples": {
                              "UK Bulk Payment Example Request": {
                                  "$ref": "#/components/examples/uk-bulk-payment-auth-example-request"
                              }
                          },
                          "schema": {
                              "$ref": "#/components/schemas/BulkPaymentAuthorisationRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "UK Bulk Payment Example Response": {
                                      "$ref": "#/components/examples/uk-bulk-payment-auth-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse"
                              }
                          }
                      },
                      "description": "Created"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Create Bulk Payment Authorisation",
              "tags": [
                  "Authorisations"
              ]
          }
      },
      "/bulk-payments": {
          "x-yapily-features": [
              "CREATE_BULK_PAYMENT"
          ],
          "post": {
              "description": "Creates a bulk payment after obtaining the user's authorisation. <br><br>Feature: `CREATE_BULK_PAYMENT`",
              "operationId": "createBulkPayment",
              "parameters": [
                  {
                      "description": "__Mandatory__. The `consent-token` containing the user's authorisation to make the request.",
                      "example": "{consentToken}",
                      "in": "header",
                      "name": "consent",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a business account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-corporate-id",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Conditional__. The IP address of the PSU. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-ip-address",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "content": {
                      "application/json;charset=UTF-8": {
                          "examples": {
                              "UK Bulk Payment Example Request": {
                                  "$ref": "#/components/examples/uk-bulk-payment-example-request"
                              }
                          },
                          "schema": {
                              "$ref": "#/components/schemas/SubmitBulkPaymentRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "UK Bulk Payment Example Response": {
                                      "$ref": "#/components/examples/uk-bulk-payment-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfCreateBulkPaymentRequest"
                              }
                          }
                      },
                      "description": "Created"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Create Bulk Payment",
              "tags": [
                  "Payments"
              ]
          }
      },
      "/bulk-payments/{bulkPaymentId}": {
        "get": {
          "description": "Returns the bulk file status of the bulk payment for given bulkPaymentId",
          "summary": "Get Bulk Payment File Status",
          "tags": [
            "Payments"
          ],
          "operationId": "getBulkPaymentStatus",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "in": "header",
              "name": "consent",
              "description": "__Mandatory__. The `consent token` containing the user's authorisation to make the request.",
              "required": true
            },
            {
              "schema": {
                "type": "string"
              },
              "in": "path",
              "name": "bulkPaymentId",
              "description": "__Mandatory__. Bulk payment id returned when bulk payment request was submitted.",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "meta": {
                        "type": "object",
                        "properties": {
                          "tracingId": {
                            "type": "string"
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Unique identifier of the Bulk Payment",
                            "type": "string"
                          },
                          "consentId": {
                            "description": "Identification of the consent.",
                            "type": "string"
                          },
                          "statusDetails": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "description": "Bulk file status. Enum: `COMPLETED` `PENDING` `FAILED` `UNKNOWN`\nThese values are subject to change."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "Successful 200 OK": {
                      "value": {
                        "meta": {
                          "tracingId": "27b47dca-fb0f-4448-b470-1cd2d5516d0f"
                        },
                        "data": {
                          "id": "76ad88c7-6e99-4a16-a277-e428a73d1e86",
                          "consentId": "5daeb980-5ff5-49db-b7a0-e93dd9c93533",
                          "statusDetails": {
                            "status": "COMPLETED",
                            "updatedAt": "2024-07-25T18:14:52.672Z"
                          },
                          "createdAt": "2024-07-25T18:14:52.672Z"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Required parameter missing or invalid",
              "content": {
                "application/json;charset=UTF-8": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiErrorResponseV2"
                  },
                  "examples": {
                    "Example-1": {
                      "$ref": "#/components/examples/400-error-response"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication Error",
              "content": {
                "application/json;charset=UTF-8": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiErrorResponseV2"
                  },
                  "examples": {
                    "Example-1": {
                      "$ref": "#/components/examples/401-error-response"
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Bulk payment not found for provided id",
              "content": {
                "application/json;charset=UTF-8": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiErrorResponseV2"
                  },
                  "examples": {
                    "Example-1": {
                      "$ref": "#/components/examples/404-error-response"
                    }
                  }
                }
              }
            },
            "500": {
              "description": "An unexpected error occurred.",
              "content": {
                "application/json;charset=UTF-8": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiErrorResponseV2"
                  },
                  "examples": {
                    "Example-1": {
                      "$ref": "#/components/examples/500-error-response"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/consent-auth-code": {
          "post": {
              "description": "Used to obtain a Yapily Consent object containing the `consentToken` once the user has authenticated and you have an OAuth2 authorisation code `auth-code` and state `auth-state`.",
              "operationId": "createConsentWithCode",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/ConsentAuthCodeRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/consent-auth-code-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/Consent"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Exchange OAuth2 Code",
              "tags": [
                  "Consents"
              ]
          }
      },
      "/consent-one-time-token": {
          "post": {
              "description": "Exchange a One-time-token for the consent token",
              "operationId": "getConsentBySingleAccessConsent",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/OneTimeTokenRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/consent-one-time-token-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/Consent"
                              }
                          }
                      },
                      "description": "Created"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Exchange One Time Token",
              "tags": [
                  "Consents"
              ]
          }
      },
      "/consents": {
          "get": {
              "description": "Used to retrieve all the consents created for each user within an application. At least one of the following filters needs to be applied: filter[applicationUserId], filter[userUuid]=, limit=. ",
              "operationId": "getConsents",
              "parameters": [
                  {
                      "description": "__Optional__. Filter records based on the list of `applicationUserId` users provided. At least one of these filters filter[applicationUserId], filter[userUuid]=, limit= must be provided.",
                      "in": "query",
                      "name": "filter[applicationUserId]",
                      "required": false,
                      "schema": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                              "type": "string"
                          }
                      }
                  },
                  {
                      "description": "__Optional__. Filter records based on the list of `userUuid` users provided. At least one of these filters filter[applicationUserId], filter[userUuid]=, limit= must be provided.",
                      "in": "query",
                      "name": "filter[userUuid]",
                      "required": false,
                      "schema": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                              "type": "string",
                              "format": "uuid"
                          }
                      }
                  },
                  {
                      "description": "__Optional__. Filter records based on the list of `Institution` provided.",
                      "in": "query",
                      "name": "filter[institution]",
                      "required": false,
                      "schema": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                              "type": "string"
                          }
                      }
                  },
                  {
                      "description": "__Optional__. Filter records based on the list of `Consent` [statuses](https://docs.yapily.com/api/reference/#operation/getConsents!c=200&path=data/status&t=response).",
                      "in": "query",
                      "name": "filter[status]",
                      "required": false,
                      "schema": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                              "type": "string"
                          }
                      }
                  },
                  {
                      "description": "__Optional__. Returned transactions will be on or after this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ). ",
                      "in": "query",
                      "name": "from",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Optional__. Returned transactions will be on or before this date (yyyy-MM-dd'T'HH:mm:ss.SSSZ).",
                      "in": "query",
                      "name": "before",
                      "required": false,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "description": "__Optional__. The maximum number of transaction records to be returned. Must be between 1 and 1000. At least one of these filters filter[applicationUserId], filter[userUuid]=, limit= must be provided.",
                      "in": "query",
                      "name": "limit",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32"
                      }
                  },
                  {
                      "description": "__Optional__. The number of transaction records to be skipped. Used primarily with paginated results.",
                      "in": "query",
                      "name": "offset",
                      "required": false,
                      "schema": {
                          "type": "integer",
                          "format": "int32",
                          "default": 0
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/consents-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiListResponseOfConsent"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Consents",
              "tags": [
                  "Consents"
              ]
          }
      },
      "/consents/{consentId}": {
          "delete": {
              "description": "Delete a consent using the consent Id",
              "operationId": "delete",
              "parameters": [
                  {
                      "description": "__Mandatory__. The consent Id of the `Consent` to update.",
                      "in": "path",
                      "name": "consentId",
                      "required": true,
                      "schema": {
                          "type": "string",
                          "format": "uuid"
                      }
                  },
                  {
                      "description": "__Optional__. Whether to force the deletion.",
                      "in": "query",
                      "name": "forceDelete",
                      "required": false,
                      "schema": {
                          "type": "boolean",
                          "default": true
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/consent-delete-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfConsentDeleteResponse"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Delete Consent",
              "tags": [
                  "Consents"
              ]
          },
          "get": {
              "description": "Get consent using the consent Id",
              "operationId": "getConsentById",
              "parameters": [
                  {
                      "description": "__Mandatory__. The consent Id of the `Consent` to update.",
                      "in": "path",
                      "name": "consentId",
                      "required": true,
                      "schema": {
                          "type": "string",
                          "format": "uuid"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/consent-get-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfConsent"
                              }
                          }
                      },
                      "description": "Ok"
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseError"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Get Consent",
              "tags": [
                  "Consents"
              ]
          }
      },
      "/consents/{consentId}/extend": {
          "post": {
              "description": "Used to indicate to Yapily that reconfirmation has occurred for a given Consent, and to update lastUpdatedAt and reconfirmBy for that Consent. Returns the Consent.",
              "operationId": "extendConsent",
              "x-beta": true,
              "parameters": [
                  {
                      "description": "__Mandatory__. The consent Id of the `Consent` to update.",
                      "in": "path",
                      "name": "consentId",
                      "required": true,
                      "schema": {
                          "type": "string",
                          "format": "uuid"
                      }
                  }
              ],
              "requestBody": {
                  "content": {
                      "application/json;charset=UTF-8": {
                          "examples": {
                              "Example Request": {
                                  "$ref": "#/components/examples/consent-extend-example-request"
                              }
                          },
                          "schema": {
                              "$ref": "#/components/schemas/ExtendConsentRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "200": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Example Response": {
                                      "$ref": "#/components/examples/consent-get-example-response"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiResponseOfConsent"
                              }
                          }
                      },
                      "description": "Created"
                  },
                  "400": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/extend-consent-error-response-code-400"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiErrorResponse"
                              }
                          }
                      },
                      "description": "Error Response. The supplied lastConfirmedAt date, Consent type, or Consent status is invalid."
                  },
                  "default": {
                      "content": {
                          "application/json;charset=UTF-8": {
                              "examples": {
                                  "Error Response": {
                                      "$ref": "#/components/examples/error-response-code-401"
                                  }
                              },
                              "schema": {
                                  "$ref": "#/components/schemas/ApiErrorResponse"
                              }
                          }
                      },
                      "description": "Error Response"
                  }
              },
              "summary": "Extend Consent",
              "tags": [
                  "Consents"
              ]
          }
      },
      "/embedded-account-auth-requests": {
          "x-yapily-features": [
              "INITIATE_EMBEDDED_ACCOUNT_REQUEST"
          ],
          "post": {
              "description": "Used to initiate the embedded authorisation process for an `Institution` that contains the `INITIATE_EMBEDDED_ACCOUNT_REQUEST` feature in order to obtain the the user's authorisation to access their account information. <br><br>See [Embedded Account Flows](https://docs.yapily.com/pages/key-concepts/account-data/account-authorisation/embedded-account-flows/) for more information about this flow.<br><br>Feature: `INITIATE_EMBEDDED_ACCOUNT_REQUEST`",
              "operationId": "initiateEmbeddedAccountRequest",
              "parameters": [
                  {
                      "description": "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. <br><br>See [PSU identifiers](https://docs.yapily.com/pages/knowledge/open-banking/psu_identifiers/) to see if this header is required.",
                      "in": "header",
                      "name": "psu-id",
                      "required": false,
                      "schema": {
[...]
